/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
	padding-top: 90px;
	padding-bottom: 20px;
	background-color: #00adee;
	font-family: 'Quicksand', sans-serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
	padding-bottom: 15px;
}


/*Main content*/
section.maincontent {
	text-align: center;
	clear: both;
	display: block;
	width: 80%;
	vertical-align: top;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
	margin: auto;
	margin-top: 20px;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 15px;
}


/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

#make-card-table{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#submit, finish{
    margin: 10px;
}

.deckscontainer {
    background-color: #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
	padding-top: 20px;
    /*text-align: left !important;*/
}

.cardscontainer {
    /*width: 90%;*/
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #fff;
	padding-top: 30px;
	padding-bottom: 10px;
}

.deckdiv {
	width: 375px;
	/*height: 150px;*/
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	border: groove;
	margin: 10px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	overflow: auto;
	padding-bottom: 10px;
	border-radius: 7px;
}


.deckbuttons {
    margin-top: 10px;
}

.card {
	width: 300px;
	height: 200px;
	text-align: center;
}

.front {
	width: 300px;
	height: 200px;
	background-color: #fff;
	border-color: #b6ff00;
	border-radius: 25px;
	padding-top: 30px;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 5px;
	border: groove;
}

.back {
	width: 300px;
	height: 200px;
	background-color: #fff;
	border-radius: 25px;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 5px;
	padding-top: 30px;
	border: groove;
}

.deckborder {
    width: 300px;
    height: 200px;
    border: solid;
    border-radius: 10px;
    border-color: #000;
    background-color: #ffffff;
}

textarea {
    resize: none;
    overflow: hidden;
}

footer p {
    color: #ffffff;
    text-align: center;
}

h1, h2 {
    color: rgba(16, 16, 16, 1);
    text-align: center;
}

h3, p {
    color: rgba(16, 16, 16, 1);
    text-align: center;
}


a {
    color: rgba(16, 16, 16, 1);
}

    a:hover {
        color: rgba(16, 16, 16, 1);
    }



.button {
    display: block;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 12px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
}



    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
        color: #ffffff;
    }

        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .button:hover span {
        padding-right: 25px;
    }

        .button:hover span:after {
            opacity: 1;
            right: 0;
        }

#account.button {
    background-color: teal;
    color: #FFFFFF;
}


.studysession {
	background-color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.studybuttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    vertical-align: bottom;
    bottom: 0px;
    width: 100%;
    height: 30px;
}

.studycard {
    width: 400px;
    height: 325px;
    position: relative;
    top: 25%;
    margin: auto;
    vertical-align: middle;
	background-color:#ffffff;
}

	.studycard .front, .back, .card {
		width: 400px;
		height: 275px;
		font-size: 2rem;
	}


    .studycard button {
        width: 40%;
        margin-right: 20px;
        margin-left: 20px;
    }

.progresscontainer {
	width: 30%;
	margin-left: auto;
	margin-right:auto;
}



.form {
	width: 40%;
	display: block;
	margin: auto;
}



.field-validation-error {
	color: red;
	font-size: 13px;
}


#progbar {
    /*text-align: left !important;
    text-indent: 43%;*/
    color: rgba(16, 16, 16, 1);
}

.keywordsearch {
	width: 200px;
	display: block;
    margin: auto;
}


#viewcardsbeginstudy {
    display: inline-block;
    margin: auto;
    justify-content: center;
}


.card-options {
	padding: 2px;
	margin: 10px;
}

.card-options-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
	.card-options-buttons .btn {
		margin-top: 3px;
		margin-left: 10px;
		margin-right: 10px;
	}

#description-input, #name-input {
	display: none;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#save {
	display: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}

.glyphicon-pencil {
	font-size: 10px;
}


.viewcardsbuttons {
	display: inline-block;
	padding: 10px;
}

.viewdecksbuttons {
	display: flex;
	flex-direction: row;
	padding: 10px;
	justify-content:center;
}

	.viewdecksbuttons .btn {
		margin-left: 10px;
		margin-right: 10px;
	}

.edit-table {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.study-session-info {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
