@model WebApplication.Web.Models.Account.LoginViewModel
@{
	ViewData["Title"] = "Log In";
}


<section class="maincontent">

	<h2>Log In</h2>
	<p><a asp-controller="account" asp-action="register">Don't have an account? Sign up!</a></p>

		<form class="form" asp-controller="Account" asp-action="Login" method="post">
			<div class="form-group">
				<label asp-for="Email">Email:</label>
				@*<input asp-for="Email" />*@
				<input asp-for="Email" type="email" class="form-control" id="email" placeholder="Enter email" name="email" />
				<span asp-validation-for="Email"></span>
			</div>

			<div class="form-group">
				<label asp-for="Password">Password:</label>
				<input asp-for="Password" type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" />
				@*<input asp-for="Password" type="password" />*@
				<span asp-validation-for="Password"></span>
			</div>

			<div class="submit-button">
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</form>
</section>